{% extends 'base.html.twig' %}

{% block body %}

    <h1>LOCALIDAD</h1>
    <style type="text/css">li{font-size:10pt }</style>
<ul>
    {% for localidad in localidades%}
        <li>{{ localidad.nombre}}<br>{{localidad.area}} km.<br>{{ localidad.habitantes}}  habitantes<br>{{ localidad.cp}}</li>
    {% endfor %}   
</ul>
<a href="{{path('mundo')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Home</a>
{% endblock %}
